<!doctype html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8" />
	<title>Rogue Draft</title>
	<script type="text/javascript" src="js/phaser.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<link href="/css/main.css" media="screen" rel="stylesheet" type="text/css">
    <style type="text/css">
        body {
            margin: 0;
        };
    </style>
</head>
<body>
<script type="text/javascript" src="js/mDemo.js"></script>



</body>
</html>